h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 4em;
	background-color: red;
	text-align: center;
}

body {
	background-color: #cccccc;
}

p {
	font-size: 16px;
}

#team_image {
	margin-left: 3em;
	margin-top: 11em;
	height: 15em;
	width: 15em;
	position: absolute;
}

#team_logo {
	margin-right: 3em;
	margin-top: 11em;
	margin-left: 3em;
	height: 17em;
	width: 17em;
	float: right; 
}

legend {
	background-color: red;
}

fieldset {
	text-align: center;
	border-width: 5px;
	border-color: black;
	background-color: #92a8d1;
	margin-left: 15em;
	margin-right: 15em;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

.sports {
	text-align: center;
}

.sports input {
	display: inline-block;
	float: left;
	font-family: 'Oswald', sans-serif;
}

@media screen and (min-width: 480px) {
#info {
	text-align: center;	
}

.sports {
	font-size: 16px;
	width: 800px;
	padding-left: 35px;
	padding-bottom: 20px;
	}
}
