h1 {
	font-family: 'Anton', sans-serif;
	font-size: 4em;
	background-color: red;
	text-align: center;
}

body {
	background-image: url("teams.jpg");
}

p {
	font-size: 16px;
}

fieldset {
	text-align: center;
	border-width: 5px;
	border-color: #58D68D;
	background-color: #92a8d1;
	margin-left: 15em;
	margin-right: 15em;
	font-size: 20px;
}

#info {
	margin-left: 15em;
	margin-right: 15em;
}

.sports {
	text-align: center;
}

@media screen and (min-width: 480px) {
#info {
	text-align: center;	
}

.sports {
	font-size: 16px;
	width: 800px;
	padding-left: 35px;
	padding-bottom: 20px;
	}
}
